.modal-bg {
    display: none;
    width: 1000px;
    height: 870px;
    background: rgba(0, 0, 0, 0.445);
    position: absolute;
    top: 0;
    -webkit-animation: fadeIn 0.2s ease 0.0s 1 normal;
            animation: fadeIn 0.2s ease 0.0s 1 normal;
    position: fixed;
    z-index: 100;
}

.modal-bg .modal-main {
    width: 60%;
    min-height: 40vh;
    max-height: 50vh;
    background-color: rgba(230, 230, 230, 0.925);
    border-radius: 7px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-animation: fadeIn 0.5s ease 0.0s 1 normal;
            animation: fadeIn 0.5s ease 0.0s 1 normal;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.modal-desc {
    min-width: 90%;
    max-width: 95%;
    color: #353535;
    top: 5%;
    left: 0;
    right: 0;
    margin: auto;
    overflow-y: auto;
    overflow-wrap: break-word;
}

.modal-desc .title {
    padding: 20px 0;
}

.modal-desc .date {
    margin-bottom: 10px;
}

.modal-desc .content a {
    word-wrap: break-word;
}

.modal-btns {
    text-align: center;
}

.modal-btn {
    background-color: rgba(75, 75, 75, 0.829);
    border: none;
    color: white;
    padding: 10px 70px;
}

.modal-btn:hover {
    background-color: rgba(36, 36, 36, 0.829);
}

@media screen and (max-width: 1100px) {
    .modal-bg {
      /* tablet(541-1100px) */
    }
    .modal-main {
        width: 70%;
    }
}

@media screen and (max-width: 540px) {
    .modal-bg {
      /* mobile(376-540px) */
    }
    .modal-main {
        width: 80%;
    }
    .content {
        font-size: 13px;
    }
}

@media screen and (max-width: 375px) {
    .modal-bg {
      /* mobile(0-375px) */
    }
    .modal-main {
        min-height: 90vh;
    }
    .modal-desc .content {
        font-size: 11px;
    }
    .modal-btn {
        padding: 5px 70px;
    }
}

@media screen and (orientation: landscape) and (max-width: 1100px) {
    .modal-bg {
      /* tablet(541-1100px) */
    }
    .modal-main {
        width: 80%;
        min-height: 80vh;
    }
}

@media screen and (orientation: landscape) and (max-width: 540px) {
    .modal-bg {
      /* mobile(376-540px) */
    }
    .modal-main {
        width: 90%;
        min-height: 90vh;
    }
}

@media screen and (orientation: landscape) and (max-width: 640px) and (max-height: 360px) {
    .modal-bg {
      /* mobile(w:0-640  h:0-360px) */
    }
    .modal-btn {
        padding: 3px 70px;
    }
}

@media screen and (orientation: landscape) and (max-width: 700px) and (max-height: 280px) {
    .modal-bg {
      /* mobile(w:0-780px  h:0-280px) */
    }
    .modal-main {
        width: 95%;
        min-height: 95vh;
    }
    .modal-btn {
        padding: 5px 70px;
    }
}