* {
  margin: 0 auto;    
  font-family: 'Sacramento', cursive;
}

.app {
  height: 870px;
  width: 1000px;
  background-color: rgba(0, 0, 0, 0.316);
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aliceblue;
}
.header-logo {
  width: 80px;
  margin-left: 5px;
  text-align: left;
  font-size: 2rem;
}
.header-score {
  align-items: center;
  font-size: 1.5rem;
}
.header-score-val {
  display: inline-flex;
  min-width: 80px;
  margin-right: 5px;
  padding-right: 5px;
  justify-content:flex-end;
  background-color: rgba(0, 0, 0, 0.316);
}
.main {
  display: flex;
}
.main-devo-kinds img {
  width: 200px;
  margin-top: 20px;
}
.main-guide {
  margin-top: 50px;
  text-align: center;
}
.ranking {
  width: 30%;
  min-width: 450px;
  margin: 10px 0 0 10px;
}
.ranking-table {
  max-height: 170px;
  overflow-y: scroll;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th, td {
  border: 1px solid #ccc;
  padding: 1px 5px;
  text-align: center;
}
th {
  background-color: #f4f4f4;
}